*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Georgia, 'Times New Roman', Times, serif; 
}

main{
    width: 100%;
    height: 100vh;
    background-color: #e1e1e3;
    display: flex;
    justify-content: center;
    align-items: center;
}


.contenedor{
    width: 60%;
    height: 60%;
    background-color: aliceblue;
    border-radius: 30px;
    display: flex;
    position: relative;
}

.texto{
    height: 100%;
    width: 50%;
    background-color: #277eff;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    color: #ffffff;
    padding-left: 60px;       
    padding-right: 60px;
    padding-top: 100px;
    box-sizing: border-box;
}

.texto p {
    line-height: 1.6;    
    margin-bottom: 30px; 
}

.btnKM {
    background-color: transparent; 
    border: 2px solid white;       
    color: white;                 
    padding: 10px 20px;           
    border-radius: 30px;         
    cursor: pointer;              
    font-size: 16px;
    font-weight: bold;
    width: 150px;                
}

.separadortxt{
    width: 80px;
    height: 4px;           
    background-color: white; 
    border: none;          
    margin: 0;           
    margin-bottom: 25px;
}


.formulario{
    text-align: center;
    align-items: center;
    height: 100%;
    width: 50%;
    padding: 40px;
    color: #818182;
    padding-top:100px ;
    background-color: #ffffff;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    padding-left: 60px;       
    padding-right: 60px;
}


.campo-moderno {
    border: none;                 
    border-bottom: 2px solid #ccc;  
    outline: none;             
    padding-top: 2;
    width: 100%;               
    padding: 10px 0;           
    font-size: 16px;            
    margin-bottom: 40px;        
}

.campo-moderno:focus {
  border-bottom: 2px solid #007bff; 
}

.btnlg {
    margin-top: 20px;
    background-color: #007bff; 
    color: white;
    border-color: transparent;                 
    padding: 10px 20px;           
    border-radius: 30px;         
    cursor: pointer;              
    font-size: 20px;
    font-weight: bold;
    width: 250px; 
                 
}
.separadorform{
    width: 50px;
    height: 4px;           
    background-color: #007bff; 
    border: none;          
    margin: 10px;           
    margin-bottom: 25px;
    margin-left: auto;      
    margin-right: auto;
}

.circulo-decorativo {
    position: absolute; 
    bottom: 30px;     
    left: 50%;         
    
    transform: translateX(-50%); 
    
    width: 150px;   
    height: 150px;     
    border-radius: 50%;
    
    background-color: transparent;
    border: 25px solid white; 
    
    z-index: 1; 
}